body {
  background-color: #252325;
}

* {
  transition: all .5s ease;
  font-family: "lato", helvetica, sans-serif;
  color: #ccc;
}

.no-animation * {
  transition: none;
}

.main-content {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#cmd-primary, #cmd-secondary {
  width: 500px;
  border: none;
  background-color: #252325;
  font-size: 1.5em;
  position: absolute;
  padding: 5px 8px;
  width: 100%;
}

#cmd-primary:focus,
#cmd-secondary:focus,
#submit-btn:focus {
  outline: none;
}

#cmd-primary {
    top: 0;
    z-index: 150;
    background-color: rgba(78, 78, 78, 0.5);
    color: #252325;
    height: 150px;
    font-size: 2.5em;
    padding: 10px 15px;
}

#cmd-primary-background {
  width: 100%;
  height: 150px;
  background-color: #252325;
  position: absolute;
  border-radius: 5px;
  z-index: 75;
}

#cmd-secondary {
  opacity: 1;
  margin-top: 150px;
  height: calc(100% - 150px);
  overflow: scroll;
  position: relative;
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  font-weight: 200;
  padding: 10px 15px;
}

#submit-btn {
  position: absolute;
  font-size: 3.5em;
  padding: 5px 5px;
  transition: all .1s ease;
  z-index: 200;
  border-radius: 50%;
  right: 100px;
  height: 50px;
  width: 50px;
  top: 117px;
}

#loading {
  position: absolute;
  width: 0px;
  height: 150px;
  border-radius: 5px;
  background-color: #2F999C;
  transition-property: all, opacity;
  transition-duration: 2s;
  transition-timing-function: ease-out, cubic-bezier(0.23, 1.04, 0, 0.91);
  z-index: 100;
}

#toast {
  position: absolute;
  width: 300px;
  top: 600px;
  margin-top: 100px;
  left: 50%;
  margin-left: -150px;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: rgba(78, 78, 78, 0.5);;
  font-size: 1.5em;
  opacity: 0;
  text-align: center;
  display: none;
}

.code {
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  font-weight: 200;
}

#back:hover i, #submit-btn:hover i {
  color: #fafafa;
  cursor: pointer;
}

#back i, #submit-btn i {
  transition: all 1s ease;
}
